p {
	font-family: sans-serif;
	color: #0000ff;
}

#awesomeText {font-family: : 'Times New Roman', Georgia, Serif;}

.soft {color: #000000;}
.center {text-align: center;}
.container {margin: 0 auto;}
